@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Nunito+Sans:wght@300;600;800&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito Sans';
  font-weight: bold;
}

:root{
  --bg:#ffffff;
  --bg-dark:#2b3945;
  --text:#2b3945;
}

body{
  background-color: var(--bg);
  color: var(--bg-dark);
}