footer{
    background-color: #222;
    color: white;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

ul li{
    margin-left: 5px;
    margin-bottom: 10px;
    list-style: none;
}

li:hover{
    color: rgb(240, 219, 33);
}
