@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
  font-family:'Poppins',sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0077ff;
  --bg: #f1f5f9;
  --card-bg: #ffffff;
  --text: #222;
  --text2: #3d3d3d;
  --shadow: rgba(0, 0, 0, 0.1);
}

body {
  background: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.25s ease, color 0.25s ease;
}

body.dark {
  background: #0f1724;
  color: #e6eef8;
}


.app-container {
  text-align: center;
  background: var(--card-bg);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 25px var(--shadow);
  max-width: 420px;
}

.app-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.title{
  color: var(--text2);  
  font-weight: 600;
}

.mode-toggle{
  background-color: transparent;
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s all;
}

.mode-toggle:hover{
  opacity: 1;
}

.icon {
  color: var(--text2);
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 1.5rem;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

input {
  width: 100%;
  padding: 10px 38px 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: 0.2s;
}

input:focus {
  border-color: var(--primary);
}

.clear-btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #888;
  font-size: 1.1rem;
  cursor: pointer;
}

.search-btn {
  background: var(--primary);
  border: none;
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.search-btn:hover {
  background: #005ecb;
}

.weather-card {
  background: var(--bg);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 10px var(--shadow);
}

.city-name {
  margin: 0;
  color: var(--text);
}

.weather-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.weather-icon {
  width: 80px;
  height: 80px;
}

.description {
  text-transform: capitalize;
  color: #555;
  font-weight: 500;
}

.weather-info {
  margin-top: 1rem;
  text-align: left;
  display: inline-block;
}

.weather-info p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 4px 0;
  font-size: 1rem;
}
