@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
  font-family: 'Inter', sans-serif;
}

#welcome {
    text-align: center;
    max-width: 500px;
  }
  
  #welcome h2 {
    margin-bottom: 1rem;
  }
  
  #welcome img {
    margin-top: 2rem;
    height: 300px;
  }
  