@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

#welcome {
    text-align: center;
    max-width: 500px;
  }
  
  #welcome h2 {
    margin-bottom: 1rem;
    font-family: 'Inter', sans-serif;
  }
  
  
  /*
  #welcome img {
    margin-top: 2rem;
  }
  */