@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}

body,
html {
  min-height: 100vh;
  height: 100%;
}

body{
    background-image: url('img/Santuario.jpg');
    background-repeat: round;
}


img {
  max-width: 100%;
}

button {
  font-weight: 700;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  background: linear-gradient(
    90deg,
    rgb(244, 243, 245) 0%,
    rgb(223, 219, 224) 100%
  );
  border-radius: 3rem;
  border: none;
  color: black;
}

button:hover {
  background: linear-gradient(
    90deg,
    rgba(240, 235, 232, 1) 0%,
    rgb(157, 156, 158) 100%
  );
}